@charset "utf-8";

html{color:#000;background:#fff;overflow-y:scroll;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
html *{outline:0;-webkit-text-size-adjust:none;-webkit-tap-highlight-color:rgba(0,0,0,0)}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0}
input,select,textarea{font-size:100%}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
abbr,acronym{border:0;font-variant:normal}
del{text-decoration:line-through}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:500}
ol,ul{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500}
q:before,q:after{content:''}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-.5em}
sub{bottom:-.25em}
a:hover{text-decoration:none;}
ins,a{text-decoration:none}
.cf:before,.cf:after{content:"";display:table}.cf:after{clear:both}.cf{*zoom:1}
.left{ float: left;}
.right{ float: right;}

/*layout*/
html,body{ height: 100%; width: 100%; font-size: 12px;}
body{ text-align: left; background-color: #fff; color: #333; line-height: 150%; font-family: arial,Helvetica,sans-serif;} /*font-family: arial,Helvetica,sans-serif; */

.img-wrap{ font-size: 0; line-height: 0; }
.w100{ width: 100%; display: block;}
.btn{ display: inline-block; background-position: left top; background-repeat: no-repeat; background-size: 100% 100%; color: #fff; font-size: 0.32rem; text-align: center; text-decoration: none;}
.btn:active,
.btn:visited{ text-decoration: none; }
.btn-submit{ background: linear-gradient(60deg, #fd6659, #fc566a); width: 5rem; height: 0.93333rem; line-height: 0.93333rem; font-size: 0.42666rem; border-radius: 0.93333rem; box-shadow: 0 0.1rem 0.2rem #ee3a4f;}
.btn-submit.disabled{ background: linear-gradient(60deg, #bbb, #aaa); box-shadow: 0 0.1rem 0.2rem #888;}
.btn-submit-1{ width: 5rem; height: 1.2rem; border-radius: 1.2rem; line-height: 1.3rem;}
.btn-rule-1{ background-image: url(../images/btn_rule_1.png); width: 1.84rem; height: 0.66667rem; line-height: 0.66667rem;}
.btn-fl{ background-image: url(../images/icon_fl.png); background-size: 0.92rem auto; background-position: left center; padding-left: 1rem; color: #ff3b52;}
.btn-share{ background-image: url(../images/icon_share.png); width: 1.84rem; height: 0.70667rem;}
.right .btn-share{ float: right; }

.icon{ background-repeat: no-repeat; background-position: left top; background-size: cover;}
.icon-result{ text-align: center; }
.icon-price-tip{ background-image: url(../images/icon_price.png); width: 1.22667rem; height: 0.61333rem; text-indent: -999rem; overflow: hidden;}
.icon-info{ background-image: url(../images/icon_info.png); background-size: 0.28rem auto; background-position: left center; padding-left: 0.4rem; font-size: 0.4rem;}
.icon-toggle{ background-image: url(../images/icon_toggle.png); background-size: 0.30667rem auto; background-position: right 0.06rem; padding-right: 0.4rem; font-size: 0.4rem; color: #fb3149;}
.product-content.active .icon-toggle{ background-position: right -0.32rem;}
.icon-list-1{ background-image: url(../images/icon_list1.png); }
.icon-list-2{ background-image: url(../images/icon_list2.png); }