@charset "utf-8";

/*common*/
.page-wrap{ }
.top-banner{}
.top-banner-inner{ position: relative;}
.top-banner-inner .btn-rule-1{ position: absolute; right: 0.35rem; top: 0.4rem; }
.container-inner{ position: relative; }
.container-inner .btn-rule-2{ position: absolute; right: 1.5rem; bottom: 1.4rem; width: 1rem; height: 0.8rem;}
.page-bottom-bar{ padding-bottom: 1.32rem;}
.bottom-bar{ position: fixed; left: 0; bottom: 0; width: 100%; height: 1.32rem;}
.bottom-bar-inner{ height: 100%; padding-top: 0.13rem; box-sizing: border-box; border-top: 1px solid #dbdbdb; background-color: rgba(255,255,255,0.9); text-align: center;}
.popup{ display: none; position: fixed; left: 0; top: 0; width: 100%; height: 100%;}
.popup .popup-masker{ position: absolute; width: 100%; height: 100%; background-color: #000; opacity: 0.5;}
.popup .popup-content{ position: absolute; width: 8.8rem; height: 4.8rem; left: 50%; margin-left: -4.4rem; top: 50%; margin-top: -2.4rem;}
.popup .popup-content .popup-close{ position: absolute; right: 0; top: -0.9rem; width: 0.69333rem; height: 0.69333rem; background-image: url(../images/icon_close.png); background-size: cover;}
.popup .popup-content-inner{ background-color: #fff; border-radius: 0.5rem; overflow: hidden; height: 100%; box-shadow: 0 0 0.5rem #777;}
.popup .popup-content .title{ color: #000; background-color: rgba(204,204,204,0.5); font-size: 0.36rem; line-height: 1rem; padding: 0 0.6rem;}
.popup .popup-content .text{ color: #000; font-size: 0.36rem; line-height: 150%; padding: 0.3rem 0.6rem;}
.popup .popup-content .des{ color: #000; font-size: 0.42rem; line-height: 150%; padding: 0.9rem 0 0.6rem; text-align: center; }
.popup .popup-content .des .text-light{ color: #fb3149; }
.popup .popup-content .btn-bar{ text-align: center; }
.popup .popup-content .alerts{ padding-top: 2rem; text-align: center; font-size: 0.48rem;}

/*form results*/
.form-apply{ padding-top: 1.5rem; }
.form-item{ margin-bottom: 0.5rem;}
.form-item label{ float: left; color: #666; width: 1.5rem; margin-left: 0.3rem; margin-right: 0.2rem; font-size: 0.4rem; line-height: 1.3rem;}
.form-item input[type=text]{ float: left; color: #333; background-color: #f6f7f9; font-size: 0.45rem; box-sizing: border-box; padding: 0.2rem; border: 1px solid #d7d7d7; border-radius: 0.15rem; width: 7.3rem; height: 1.3rem;}
.submit-item{ padding-top: 0.75rem; padding-bottom: 0.75rem; text-align: center;}

.result-content{ padding-top: 2rem;}
.icon-result{ padding-bottom: 0.8rem;}
.icon-result img{ width: 2.25333rem; }
.des-result{ text-align: center; font-size: .48rem; line-height: 150%; padding: 0 1rem;}

/*index*/
.pd-list{}
.pd-item{ position: relative; background-color: #fff;}
.pd-item-content{ margin: 0 0.4rem; border-top: 1px solid #d7d7d7; height: 3.6rem; position: relative;}
.pd-item-content .left-culm{ position: absolute; left: 0; top: 0; width: 3.6rem; }
.pd-item-content .left-culm .img-wrap{ width: 3.6rem; height: 3.6rem; overflow: hidden; }
.pd-item-content .right-culm{ padding-left: 4rem; height: 100%; display:-webkit-flex; display:flex; -webkit-align-items: center; align-items: center;}
.pd-item-content .right-culm-inner{  }
.pd-item .title{ color: #333; font-size: 0.4rem; line-height: 120%; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2;-webkit-box-orient: vertical; margin-bottom: 0.16rem;}
.pd-item .price{ color: #666; font-size: 0.34rem; margin-bottom: 0.08rem;}
.pd-item .line{ line-height: 0.70667rem; }

/*product-detail*/
.product-detail{ position: relative;}
.product-detail .box-shadow{ width: 9.33333rem; margin: 0 auto; box-shadow: 0 0 1rem #efefef; position: relative;}
.product-info,
.product-content{ padding: 0.16rem 0; position: relative;}
.product-info .title{ position: absolute; left: 0; top: 0; width: 100%; height: 1.1rem; font-size: 0.4rem; line-height: 1.1rem; text-align: center; box-shadow: 0 0 0.5rem #efefef; background-color: rgba(255,255,255,0.5);}
.product-info .pop-info{ position: absolute; left: 0.6rem; top: 3rem; width: 3.17333rem; height: 2.17333rem; box-sizing: border-box; padding: 0.22667rem 0.26667rem; border-radius: 0.05rem; box-shadow: 0 0 0.5rem #efefef; background-color: rgba(255,255,255,0.5);}
.product-info .price{ color: #fb3149; line-height: 0.72rem; height: 0.72rem;}
.product-info .price .price-unit{ display: inline-block; font-size: 0.42rem; line-height: 0.72rem; vertical-align: baseline;}
.product-info .price .price-detail{ display: inline-block; font-size: 0.66rem; line-height: 0.72rem; vertical-align: baseline;}
.product-info .market-price{ font-size: 0.32rem; color: #666; text-decoration: line-through;}

.product-content{ }
.product-content .content,
.product-content .box-normal{ display: none; }
.product-content.active .content,
.product-content.active .box-normal{ display: block; }
.product-content .control-bar{ height: 1.1rem; line-height: 1.1rem; margin-bottom: 0.2rem;}
.product-content .control-bar .inner{ margin: 0 0.3rem; border-bottom: 1px solid #dfdfdf; }

.product-buy{ position: fixed; left: 0; top: 0; height: 100%; width: 100%; display: none;}
.buy-masker{ position: absolute; left: 0; top: 0; height: 100%; width: 100%; background-color: #000; opacity: 0.4;}
.buy-views .close{ position: absolute; right: 0.28rem; top: 0.4rem; width: 0.69333rem; height: 0.69333rem; background-image: url(../images/icon_close_1.png);background-size: cover; z-index: 1;}
.buy-views{ position: fixed; left: 0; bottom: 1.32rem; width: 100%; height: 4.8rem; border-top: 1px solid #d7d7d7; background-color: rgba(255,255,255,0.9);}
.buy-views-content{ margin: 0.42rem 0.4rem; height: 2.32rem; position: relative;}
.buy-views-content .left-culm{ position: absolute; left: 0; top: 0; width: 2.32rem; border: 1px solid #d7d7d7; }
.buy-views-content .left-culm .img-wrap{ width: 2.32rem; height: 2.32rem; overflow: hidden;}
.buy-views-content .right-culm{ padding-left: 2.8rem; height: 100%; display:-webkit-flex; display:flex; -webkit-align-items: center; align-items: center; text-align: left;}
.buy-views-content .right-culm .price{ color: #fb3149; font-size: 0.48rem; }
.buy-views-content .right-culm .price .price-unit{ font-size: 0.36rem; }
.buy-views-content .right-culm-inner{  }
.buy-views-num{ margin: 0.3rem 0.4rem 0 0.4rem; padding-top: 0.3rem; border-top: 1px solid #d7d7d7; line-height: 0.96rem;}
.add-sub{ height: 0.96rem; border: 1px solid #a5a5a5; border-radius: 0.15rem; }
.add-sub .btn{ width: 0.92rem; height: 100%; font-size: 0.48rem; color: #000; float: left;}
.add-sub .btn.disabeld{ color: #999;}
.add-sub .btn-sub{ border-right: 1px solid #a5a5a5; }
.add-sub .btn-add{ border-left: 1px solid #a5a5a5; }
.add-sub .number{ float: left; width: 1.56rem; font-size: 0.48rem; text-align: center; color: #000;}

/*mywallet*/
.user-info-banner{ height: 5.06667rem; }
.user-info-banner .btn-rule-1{ top: 0.6rem; }
.user-info{ position: absolute; left: 0.4rem; top: 0.3rem; line-height: 1.36rem; color: #fff;}
.user-info .user-head{ width: 1.2rem; height: 1.2rem; overflow: hidden; border: 0.08rem solid #fe7d5f; border-radius: 100%; margin-right: 0.2rem;}
.user-earnings{ position: absolute; width: 100%; left: 0; top: 2.1rem; text-align: center;}
.user-earnings .label{ color: #f0e19d; font-size: 0.4rem; line-height: 150%;}
.user-earnings .value{ color: #fefefe; font-size: 0.93333rem; line-height: 150%;}

.page-mywallet{ background-color: #f0f2f5; min-height: 100%; box-sizing: border-box;}
.tab-nav{ position: relative; z-index: 1; background-color: #fff; border-bottom: 1px solid #d7d7d7; margin-bottom: 0.2rem;}
.tab-nav .tab-nav-item{ float: left; width: 33.333333%; text-align: center; height: 1.68rem; box-sizing: border-box; padding-top: 0.18rem; position: relative; color: #222;}
.tab-nav-item .label{ line-height: 0.66rem; font-size: 0.38rem;}
.tab-nav-item .value{ line-height: 0.66rem; font-size: 0.4rem;}
.arr-line{ background-color: #fb3149; height: 0.08rem; width: 2rem; position: absolute; bottom: 0; left: 50%; margin-left: -1rem; display: none;}
.arr-line .arr-down{ display: block; position: absolute; left: 50%; margin-left: -0.1rem; top: 0.08rem; border: 0.1rem solid #f0f2f5; border-top-color: #fb3149; width: 0; height: 0;}
.tab-nav .active .label,
.tab-nav .active .value{ color: #fb3149; }
.tab-nav .active .arr-line{ display: block; }
.tab-content{}
.tab-content-item{ display: none; }
.tab-content-item.active{ display: block; }
.tab-content-item .pd-list{ padding: 0 0 1px 0; }
.tab-content-item .pd-list .pd-item{ margin-bottom: 0.2rem; font-size: 0.32rem;}
.pd-item-head{ padding: 0 0.4rem; border-bottom: 1px solid #dfdfdf; line-height: 0.8rem; }
.pd-item-head .text-data{ color: #666; font-size: 0.3rem;}
.pd-item-head .text-light{ color: #fb3149; }
.tab-content-item .price,
.tab-content-item .number{ text-align: right; padding-right: 0.1rem; color: #333;}
.tab-content-item .number{ color: #666; }
.tab-content-item .pd-item-content{ border-top: none; }
.pd-item-foot{ margin: 0 0.4rem; border-top: 1px solid #dfdfdf; height: 1rem; line-height: 1rem;}

.billing-item{ background-color: #fff; }
.billing-item-content{ border-bottom: 1px solid #dfdfdf; padding: 0.4rem 0; line-height: 1.06667rem; margin: 0 0.4rem;}
.billing-item-content .icon{ width: 1.06667rem; height: 1.06667rem; margin-right: 0.2rem;}
.billing-item-content .text-status{ color: #333; margin-right: 0.2rem; font-size: 0.37rem;}
.billing-item-content .text-light{ color: #fb3149; margin-right: 0.2rem; font-size: 0.46rem;}
.billing-item-content .text-light .price-unit{ float: left; font-size: 0.37rem; vertical-align: baseline;}
.billing-item-content .text-light .price-detail{ float: left; vertical-align: baseline;}
.billing-item-content .text-date{ line-height: 120%; font-size: 0.3rem; color: #999; padding: 0.2rem 0 0 0;}

.tab-content-item .icon-result{ padding-top: 1.2rem; }
.text-tips{ text-align: center; font-size: 0.4rem; color: #333; line-height: 150%; padding-bottom: 0.75rem;}

/*withdraw*/
.user-withdraw{ text-align: center;  padding-bottom: 0.8rem;}
.user-withdraw .img-wrap{ text-align: center; padding: 1rem 0 0.6rem;}
.user-withdraw .label{ color: #666; font-size: 0.4rem; line-height: 150%;}
.user-withdraw .value{ color: #ff3b52; font-size: 0.8rem; line-height: 150%;}
.form-withdraw{ padding: 0 0.8rem; }
.form-withdraw .form-item label{ font-size: 0.36rem; width: 2rem; line-height: 0.5rem; margin-left: 0;}
.form-withdraw .form-item label.icon{ width: auto; line-height: 1rem;}
.form-withdraw .form-item .value{ font-size: 0.36rem; line-height: 0.5rem;}
.form-withdraw .form-item input[type=text],
.form-withdraw .form-item input[type=number]{float: left; color: #333; background-color: transparent; font-size: 0.45rem; box-sizing: border-box; padding: 0.2rem; border: none; border-radius: 0.15rem; width: 7.3rem; height: 1rem;}
.form-withdraw .form-item .btn-popup{ color: #0763ca; }
.form-withdraw-ss{ background-image: url(../images/bg_withdraw_ss.png); width: 9.2rem; height: 3.66667rem; margin: 0 auto; box-sizing: border-box; padding: 1rem 1rem 0; margin-bottom: 1rem;}
.form-withdraw-ss .form-item label{ width: 3rem; }
.form-withdraw-ss .form-item .value{ text-align: right; color: #000; }
.form-withdraw-ss .form-item .price{ font-size: 0.48rem; }